@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    top: 0;
    position: fixed;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    padding: 10px;
    width: 50%;
}

nav a{
    font-size: 25px;
    text-decoration: none;
    color: white;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    background-image: url('https://cdn.ome.lt/wGLQBcIUhIi_GEtO7Rq2jMMWOHs=/1200x630/smart/extras/conteudos/header_wW1AXDC.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}



.conteudo{
    margin-top: 12vh;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 70%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form{
    width: 100%;
    margin: 5px;
    display: inline;
    align-items: center;
    text-align: center;
    
}


input{
    width: 50%;
    margin: 5px;
    border: none;
    border-radius: 2px;
    padding: 10px;
    font-size: 25px;
}

button{
    margin: 5px;
    padding: 5px;
    font-size: 25px;
}

.result{
    margin: 5px;
    width:100% ;
    /* background-color: chartreuse; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.club {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}
.club p{
    color: white;
    font-size: 30px;
    text-align: justify;
    margin: 5px;
    
}

.club img {
    width: 35%;
}

.club p>img{
    width: 100%;
}

p.erroImg{
    font-size: 20px;
    margin: 30px;
}

.galeria{
    width: 100%;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galeria img{
    width: 20%;
    margin: 5px;
}

#banner{
    width: 100%;
    margin: 10px;
}

.time{
    width: 25%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
    margin: 5px;
    padding: 5px;
}

.time img{
    width: 50%;
    /* height: 200px; */
    margin: 5px;
    /* background-color: blueviolet; */
}


.time p {
    /* background-color: burlywood; */
    margin: 0;
    padding: 3px;
    text-align: center;
    color: white;
}

.time button{
    margin: 10px;
    padding: 1%;

    
}

