@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

  header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    background-color: black;
  }
  
  nav {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  nav a {
    font-size: 36px;
    text-decoration: none;
    color: white;
    position: relative;
    margin: 10px;
  }
  
  nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: white;
    bottom: 0;
    left: 0;
  }
  
  nav a:hover::after {
    width: 100%;
    height: 1px;
    transition: width 600ms ease-out;
  }

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    background-image: url('https://images.unsplash.com/photo-1510051640316-cee39563ddab?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}



.conteudo{
    margin-top: 12vh;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 70%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form{
    width: 100%;
    margin: 5px;
    display: inline;
    align-items: center;
    text-align: center;
    
}


input{
    width: 50%;
    margin: 5px;
    border: none;
    border-radius: 2px;
    padding: 10px;
    font-size: 25px;
}

button{
    margin: 5px;
    padding: 8px;
    font-size: 25px;
    background-color: chartreuse;
    border: none;
    border-radius: 2px;
}

button:hover{
    background-color: rgb(191, 255, 127);
    cursor: pointer;
}

.result{
    margin: 5px;
    width:100% ;
    /* background-color: chartreuse; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.club {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}
.club p{
    color: white;
    font-size: 30px;
    text-align: justify;
    margin: 5px;
    
}

.club img {
    width: 35%;
}

.club p>img{
    width: 100%;
}

.club h1{
    color: white;
    margin: 10px;
}

p.erroImg{
    color: white;
    font-size: 20px;
    margin: 30px;
}

.galeria{
    width: 100%;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.galeria img{
    width: 20%;
    margin: 5px;
}

#logoMarca{
    width: 50%;
    margin: 0;
}

#banner{
    width: 100%;
    margin: 10px;
}

.redes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa {
    padding: 10px 20px;
    font-size: 100px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    background-color: chartreuse;
    color: black;
    border-radius: 5px;
    
  }


.time{
    width: 25%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
    margin: 5px;
    padding: 5px;
}

.time img{
    width: 50%;
    /* height: 200px; */
    margin: 5px;
    /* background-color: blueviolet; */
}


.time p {
    /* background-color: burlywood; */
    margin: 0;
    padding: 3px;
    text-align: center;
    color: white;
}

.time button{
    margin: 10px;
    padding: 8px;

    
}

